{% extends 'tweets/base.html' %}

{% load static %}

{% block title %}
Twitter Redesign | Home
{% endblock title%}

{% block content %}
<div id="root"></div>


<div class="row text-center d-none">
    <div class="col">
        <h1>Welcome to Twitter Redesign</h1>
    </div>
</div>

<!-- tweet_create_view -->
<div class="row mb-3 d-none">
    <div class="col-md-4 mx-auto col-10">
        <form action="/create-tweet" method="POST" class="form" id="tweet-create-form">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" value="/" name="next"> <!-- redirect that we want to handle -->
            <textarea required="required" name="content" class="form-control" placeholder="Your tweet"></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row d-none" id="tweets"></div>

<script src="{% static 'tweets/js/home.js' %}"></script>
{% endblock content %}